.form-add-user {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  max-width: 500px;

  div {
    display: flex;
    gap: 1rem;
    margin: 0.25rem;

    mat-form-field {
      width: 100%;
    }
  }
}
